html {
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body { margin: 0; padding: 0; }

.toast-root {
  position: fixed;
  top: 100%;
  z-index: 10000000;

  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.toast {
  position: absolute;

  transform: translateY(-150%);

  display: flex;
  max-width: 90vw;
  padding: 20px;
  box-sizing: border-box;

  background-color: hsl(100, 62%, 50%);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;

  color: white;
  text-align: center;
}

.stats-1 {
  position: absolute;
  top: 0; left: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: .5em;
  font-size: .75em;
}

.stats-2 {
  position: absolute;
  bottom: 0; left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: .5em;
}

a, a:link, a:hover, a:visited {
  color: white;
}