on:
  push:
    paths:
      - 'test/**'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aviate-labs/setup-dfx@v0.2.3
        with:
          dfx-version: 0.8.4
          install-moc: true
          vessel-version: 0.6.2
      - run: for i in $(find src -name 'tests.mo') ; do moc $(vessel sources) -r $i ; done
